<p>transfer-form works!</p>
<div class="container">
  <form [formGroup]="firstFormGroup">
    <div class="row" fxLayout="row">
      <!--Customer-->
      <mat-card class="item">
        <div fxLayout="row" fxLayoutGap="18px">
          <h3>Customer</h3>
          <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="flex-start center">
              <div class="drop-down" fxFlex>
                <mat-form-field class="input-row" appearance="outline">
                  <mat-select
                  #fff autofocus="true"
                    placeholder="Company"
                    formControlName="Company"
                    required
                  >
                    <mat-option
                      *ngFor="let cust of customers"
                      value="cust.company"
                      >{{ cust.company }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start center">
              <div class="drop-down" fxFlex>
                <mat-form-field class="input-row" appearance="outline">
                  <mat-select
                    placeholder="Address"
                    formControlName="Address"
                    required
                  >
                    <mat-option
                      *ngFor="let cust of customers"
                      value="cust.address"
                      >{{ cust.address }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start center">
              <div class="drop-down" fxFlex>
                <mat-form-field class="input-row" appearance="outline">
                  <mat-select
                    placeholder="Phone"
                    formControlName="Phone"
                    required
                  >
                    <mat-option
                      *ngFor="let cust of customers"
                      value="cust.phone"
                      >{{ cust.phone }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button color="accent">Submit</button>
          </div>
        </div>
      </mat-card>
      <!-- Account -->
      <mat-card class="item">
        <div fxLayout="row" fxLayoutGap="18px">
          <h3>Account</h3>
          <div class="dropDown" fxFlex>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-form-field class="input-row" appearance="outline">
                  <mat-select
                    placeholder="Company"
                    formControlName="Company"
                    required
                  >
                    <mat-option
                      *ngFor="let cust of customers"
                      value="cust.company"
                      >{{ cust.company }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start center">
              <div fxFlex>
                <mat-form-field class="input-row" appearance="outline">
                  <mat-select
                    placeholder="Address"
                    formControlName="Address"
                    required
                  >
                    <mat-option
                      *ngFor="let cust of customers"
                      value="cust.address"
                      >{{ cust.address }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start center">
              <div fxFlex>
                <mat-form-field class="input-row" appearance="outline">
                  <mat-select
                    placeholder="Phone"
                    formControlName="Phone"
                    required
                  >
                    <mat-option
                      *ngFor="let cust of customers"
                      value="cust.phone"
                      >{{ cust.phone }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button color="accent">Submit</button>
          </div>
        </div>
      </mat-card>
    </div>
  </form>
</div>
