
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.container {
  margin: 18px;
  padding: 18px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.item {
  margin: 18px;
  min-width: 300px;
  width: 50%;
}

.notes {
  width: 50%;
  margin: 18px;
}

.drop-down {
  width: 50%;
  min-width:100px;
}
.mat-select-panel {
  background: red;
}
